:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "playfair Dispaly", serif;
  --defaulf-font-family: "poppins", sans-serif;
}
body {
  font-family: var(--defaulf-font-family);
}
h1,
h2,
h3 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.2;
}
h2 {
  font-size: 64px;
}
h1 {
  font-size: 96px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.homepagetop {
  background: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.homepagetop p {
  font-size: 36px;
  font-weight: bold;
  color: #272142;
}
.homepagetop h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  line-height: 1.5;
  font-size: 24px;
}
.btn-branding {
  background: var(--branding-color);
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.project-link {
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
}
/* @media (max-width: 720px) {
  .project-description {
    text-align: center;
    padding: 0;
  } */
@media (max-width: 991px) {
  .project-description {
    /* max-width: 720px; */
    text-align: center;
    padding: 0;
  }
}
.logo {
  max-width: 150px;
}
.aboutsection {
  padding: 160px 20px;
}
.aboutsection h1 {
  font-size: 64px;
  font-family: Playfair Display;
  font-weight: bold;
}
.aboutsection h2 {
  font-family: Poppins;
  font-weight: bold;
  line-height: 1.5;
  font-size: 18px;
}
.aboutsection p {
  font-family: Poppins;
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 33, 66, 0.7);
}
.aboutsection-content {
  margin: 30px;
}
@media (max-width: 900px) {
  .aboutsection-content {
    text-align: center;
    padding: 0;
  }
}
.aboutsection img {
  border-radius: 20px;
}
/* .footer-container {
  padding: 30px 120px;
} */
.footer-content {
  background: var(--secondary-color);
  border-radius: 10px;
  padding: 5px 40px;
}
.footer-content h3 {
  font-size: 48px;
}

/* .footer-content p {
  text-decoration: none;
} */
.email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
.social-links a {
  margin: 0 20px;
  font-size: 18px;
  color: var(--branding-color);
  background: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.content-container {
  padding: 160px 20px;
}
.content-container h3 {
  /* text-align: center; */
  font-family: poppins;
  font-size: 24px;
  font-weight: bold;
}
.content-container p {
  /* text-align: center; */
  font-family: poppins;
  font-size: 14px;
  color: #0d6efd;
  text-decoration: underline;
}
.content-container h1 {
  /* text-align: center; */
  font-family: Playfair Display;
  font-size: 64px;
  line-height: 80px;
}

@media (max-width: 900px) {
  .content-container {
    text-align: center;
    padding: 160px 20px;
  }
}
.work-page h1 {
  font-family: Playfair Display;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  text-align: center;
}
.work-page {
  padding: 160px 20px;
}
.work-page h3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #000000;
}
.work-page p {
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  font-family: Poppins;
}
